<!DOCTYPE html />
<html>
    <head>
        <title>Weather Site</title>
        <link rel="icon" href="/img/weather.png" />
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="content">
            {{> header }}
            <p>Use this site to get your weather.</p>
            <form>
                <input id="search-term" type="text" placeholder="Type a location" />
                <button id="search-button">Search</button>
            </form>

            <p id="message-one"></p>
            <p id="message-two"></p>
        </div>
        {{> footer }}
        <script src="/js/app.js" type="text/javascript"></script>
    </body>
</html>